@import url("button.css");



:root {
  --primary-alert-background-color: #93c5fd;
  --secondary-alert-background-color: #d8b4fe;
  --danger-background-color: #fca5a5;
  --alert-immediate-action-bg-color: #fcd34d;
  --alert-success-bg-color: #86efac;
  --hover-brightness: 1.2;
  --border-radius-custom: 0.3rem;
  --cta-background-color: #0ea5e9;
  --dark-text-color: #101314;
  --light-text-color: rgb(243, 234, 234);
  --primary-background-color:#f1f5f9;
  --universal-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  --outline-box-shadow: 4px 4px 2px #86efac;
  --box-shadow-dense:6px 4px 10px 3px #bfaee7;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color:var(--primary-background-color);
}
.alert {
  border-radius: 0.4rem;
  padding-top: 1rem;
  padding-right: 2.5rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  font-size: 1rem;
  margin: 1rem 0;
  position: relative;
}

.alert-primary {
  background-color: var(--primary-alert-background-color);
}
.alert-secondary {
  background-color: var(--secondary-alert-background-color);
}

.alert-danger {
  background-color: var(--danger-background-color);
}

.alert-icon {
  font-size: 10px;
}

.alert-success {
  background-color: var(--alert-success-bg-color);
}

.alert-immediate-action {
  background-color: var(--alert-immediate-action-bg-color);
}

.material-icons {
  font-size: 2rem;
  margin-right: 0.5rem;
  margin-top: 0.4rem;
}

.remove-alert-btn {
  position: absolute;
  background-image: url("../assets/cancel_black_24dp.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  border: none;
  width: 2rem;
  height: 2rem;

  cursor: pointer;

  right: 2rem;
  top: 12px;
}

.alert:hover {
  filter: brightness(var(--hover-brightness));
}

.remove-alert-btn:hover {
  animation: shake 0.1s 4 linear;
  animation-direction: alternate;
}

.alert-link-text {
  color: inherit;
  font-weight: bolder;
}

@keyframes shake {
  0%,
  40% {
    transform: translateX(2px);
  }

  60%,
  100% {
    transform: translateX(-2px);
  }
}
