@import url("../../../global.css");

.form {
  background-color: var(--primary-text-color);
  width: 30rem;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
  box-shadow: var(--universal-box-shadow);
}
.form-field {
  width: 100%;
}

.input-lbl {
  display: block;
  margin-bottom: 0.2em;
}

.required-field::after {
  content: "*";
  color: var(--cta-background-color);
}

.form-input {
  all: unset;
  border-radius: var(--border-radius-custom);
  background-color: var(--grey-text-color);
  padding: 0.3em;
  border-image: none;
  border-color: transparent;
  border-width: 0;
  border-style: none;
  outline: 3px solid var(--light-text-color);
  color: inherit;
  font-style: inherit;

  width: 80%;
}

.form-input:focus {
  outline-color: var(--cta-background-color);
  box-shadow: var(--universal-box-shadow);
}
.form-textarea {
  all: unset;
  border-radius: var(--border-radius-custom);
  background-color: var(--light-text-color);
  outline: 3px solid var(--light-text-color);
  color: inherit;
  font-style: inherit;
  display: block;
  padding: 0.5em;

  overflow: auto;
}

.form-textarea:focus {
  outline-color: var(--cta-background-color);
  box-shadow: var(--universal-box-shadow);
}

#form-submit:disabled {
  cursor: not-allowed;
  background-color: var(--danger-text-color);
}

.txtarea-mdm {
  height: 10em;
  width: 20em;
}

.txtarea-sml {
  height: 5em;
  width: 10em;
}

.txtarea-lrg {
  height: 20em;
  width: 40em;
}

.form-input-danger {
  outline: 3px solid var(--danger-text-color);
}
.form-input-danger:focus {
  outline-color: var(--danger-background-color);
}

.form-input-success {
  outline: 3px solid var(--alert-success-txt-color);
}

.form-input-success:focus {
  outline-color: var(--alert-success-bg-color);
}
